.cart__modal {
  display: none;
  position: fixed;
  top:0;left:0;right:0;bottom:0;
  background-color: rgba(0,0,0,.8);
  z-index: 10;
  overflow-y: scroll;
}

.cart {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.cart__content {
  position: relative;
  padding: 30px;
  background-color: white;
}

.cart__close {
  position: absolute;
  top: -30px;
  right: -30px;
  font-size: 1.3em;
}

.cart__close-btn {
  color: rgba(255,255,255,.8);
  cursor: pointer;
  transition: color .5s, transform .1s;

  &:hover {
    color: #fff;
  }

  &:active {
    transform: scale(1.3);
  }
}

.cart__content-delete {
  margin-left: auto;
  margin-right: 20px;
  color: #000;
  cursor: pointer;
}

.cart__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.cart__item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid rgba(0,0,0,.1);
}

.cart__img-container {
  max-width: 60px;
}

.cart__img {
  display: block;
  max-width: 100%;
}

.cart__name {
  margin: 0 0 0 30px;
}
