@import "../../variables";
@import "../../mixins";

.testimonials {
  background-color: #fafafa;
}

.testimonials__row {
  padding: 3em 0 3em 0;
}

.testimonials__header {
  margin: 0 0 20px 0;
  text-align: center;
  color: $primary-text-color;
  font-size: 2.5em;
  transition: color .5s;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
  font-weight: bold;
}


.testimonials__text {
  text-align: center;
  color: $primary-text-color;
  font-size: 1.4em;
  font-family: 'Playfair Display', serif;
  font-style: italic;
}


.testimonials__slider {
  .custom-prev,
  .custom-next {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    cursor: pointer;
    color: $primary-text-color;
    transition: color .5s;
  }

  .custom-prev:hover,
  .custom-next:hover {
    color: $primary-text-color-light;
  }

  .custom-prev {
    left: -1em;
  }

  .custom-next {
    right: -1em;
  }

}

@include MQ(S) {
  .testimonials__slider {
    .custom-prev,
    .custom-next {
      display: none !important;
    }
  }
}