@import "../../variables";
@import "../../mixins";
@import "../../extends";

.footer {
  font: 400 1em/1.5 "Neuton";
  background: #090d00;
  color: rgba(255,255,255,.25);
}

.footer__row {
  padding: 3em 0;
}

.footer__logo {
  text-align: center;
}

.footer__logo-link-wrapper {
  display: inline-block;
  &:hover {
    text-decoration: none;
  }
}

.footer__name {
  width: 100%;
  text-transform: uppercase;
  letter-spacing: .5em;
  display: inline-block;
  padding: 1.5em 0;
  margin: 0;
  text-align: center;

  span {

    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: .25em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255,255,255,.5);
    background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;

  }
}

@include MQ(M) {
  .footer__name {
    span {
      font-size: 2rem;
    }
  }
}

@-webkit-keyframes aitf {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}