.login {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0,.3), rgba(0, 0, 0,.3)), url(/images/auth/1.jpg) no-repeat center center / cover;
}

.login .card {
  background: rgba(255,255,255,.9);
}