@import "../../variables";
@import "../../mixins";
@import "../../extends";

//Navbar variables
$nav-mobile-background: $primary-text-color-light;
$nav-mobile-link-color: #fff;
$nav-mobile-link-color-hover: $light-color;
$nav-scroll-background: $primary-text-color-light;
$nav-scroll-link-color: #fff;
$nav-scroll-link-color-hover: $light-color;



.cd-auto-hide-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 2;

  /* Force Hardware Acceleration */
  transform: translateZ(0);
  will-change: transform;
  transition: transform .5s, background-color .5s, color .5s;

  &.is-hidden {
    transform: translateY(-100%);
  }
}

.nav {
  background: transparent;
}

.nav__row {
  border-bottom: 1px solid rgba(255,255,255,.12);
}

.nav-link {
  padding: 5px;
  color: inherit;
  transition: color .5s;
  position: relative;

  &:hover {
    color: $primary-text-color-light;
  }

  &.nav-link_active:after {
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    left: 0; right: 0; bottom: 0;
    background-color: $secondary-color;
  }
}

.nav__item > .nav-link {
  padding: 30px 5px;

  &:not(.nav-link_active):after {
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    left: 0; right: 0; bottom: 0;
    background-color: $secondary-color;
    opacity: 0;
    transition: opacity .5s;
  }

  &:not(.nav-link_active):hover:after {
    opacity: 1;
  }
}

@include MQ(L) {
  .nav__item > .nav-link {
    padding: 30px 0;
  }
}

.nav__name {
  margin: 0 0 0 10px;
  font-size: 1.5em;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px silver,
              -1px 1px 1px silver;
  color: white;
  transition: text-shadow .5s;
}

.nav__numbers {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-left: 10px;
}

.nav__number {
  color: #fff;
  margin-bottom: 0;

  &:first-child {
    margin-bottom: 5px;
  }
}

@include MQ(M) {
  .nav__name {
    font-size: 1.3rem;
  }
}

.nav__logo-img {
  display: block;
  max-width: 100%;
  width: 50px;
  height: auto;
}

.nav__logo {
  @extend %flex-row-wrap;
  @extend %vertical-center;
}

.nav__logo-link-wrapper {
  @extend %flex-row-wrap;
  @extend %vertical-center;
  &:hover {
    text-decoration: none;
  }

  &:hover .nav__name  {
    text-shadow: 1px 1px white,
                  2px 2px blue;
  }
}

.baron.baron__root {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s;
}

.nav__item-open-nested:hover .baron.baron__root {
  visibility: visible;
  opacity: 1;
}

.baron__scroller {
  background-color: #fff;
}

.nav__nested-list {
  max-height: 300px;
  margin: 0;
  padding: 0 40px;
  list-style: disc;
  color: $primary-text-color;

  .nav-link {
    color: inherit;
  }

  .nav-link:hover {
    color: #BCEB3C;
  }
}

.nav__menu {
  display: flex;
  flex-flow: row wrap;
  @extend %vertical-center;
  justify-content: center;
  color: #fff;
}

.nav__list {
  @extend %ul-list;
}

.nav__item {
  display: inline-block;
  margin-right: 10px;
}

.nav__system {
  display: flex;
  flex-flow: row wrap;
  @extend %vertical-center;
  justify-content: flex-end;
  color: #fff;
}

.nav__system-list {
  @extend %ul-list;
}

.nav__system-list-item {
  display: inline-block;
  margin-right: 10px;
}

.nav__system-person {
  margin-left: 5px;
}

.nav__system-cart {
  font-size: 1.1rem;
  position: relative;
  top: 2px;
  cursor: pointer;
  transition: color .3s;

  &:hover {
    color: $primary-text-color;
  }
}

.nav_scroll {
  background-color: $nav-scroll-background;

  .nav-link {
    color: $nav-scroll-link-color;
  }

  .nav__system-cart:hover,
  .nav-link:hover {
    color: $nav-scroll-link-color-hover;
  }

  .baron__scroller {
    background-color: $primary-text-color-light;
  }
}

.hamburger__wrapper {
  display: flex;
  justify-content: flex-end;
}

.hamburger__col {
  display: none;
}

.hamburger {
  outline: none !important;
}

.hamburger-box {
  display: block;
}

@include MQ(M) {
  .nav {
    background: $nav-mobile-background;
  }

  .nav__row {
    padding: 10px 0;
    border-bottom: none;
  }

  .nav__system,
  .nav__menu {
    display: none;
  }

  .hamburger__col {
    display: block;
  }
}

.dropdown-item:focus, .dropdown-item:hover {
  background-color: #eaecef;
}

.nav_mobile {
  .nav-link:hover {
    color: $light-color !important;
  }

  .nav__menu {
    border-top: 1px solid #fff;
    order: 2;
  }

  .nav__system {
    border-top: 1px solid #fff;
    order: 1;
  }

  .nav__item {
    display: block;
  }

  .nav__system-list {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .nav__system-cart {
    top: 6px;
  }

  .hamburger__wrapper {
    margin-bottom: 10px;
  }

  .nav__item > .nav-link {
    padding: 15px 0;
  }

  .baron.baron__root {
    position: relative;
    visibility: visible;
    opacity: 1;
    display: none;
  }

  .baron__scroller {
    background-color: $primary-text-color-light;
  }
  
  .nav__nested-item > .nav-link {
    color: $nav-mobile-link-color;

    &:hover {
      color: $nav-mobile-link-color-hover;
    }
  }

  .nav__system-cart:hover {
    color: $nav-mobile-link-color-hover;
  }
}

.fa-caret-down {
  transition: transform .5s;
}

.caret_open {
  transform: rotate(180deg);
}





